@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ruwudu:wght@500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Sedgwick Ave Display', cursive;
}




/* //////////////////navbar///////////////// */

.nav-bar{
    height: 10px;
    width: 100%;
    background: transparent;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    margin-top: 10px;
}

.nav-bar ul{
    display: flex;
    list-style: none;
    padding: 20px;
}

.nav-bar ul li a{
    text-decoration: none;
    padding: 10px;
    color: orangered;
   
}

.nav-bar ul li a:hover{
    color: orangered;
    font-weight: 500;
}


#logo{
    font-size: 35px;
    font-family: Ruwudu;
    color: #fff;
}


.ul{
    background-color: white;
    border-radius: 50px;
    height: 50px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    box-shadow: 2px 5px 5px rgba(0,0,0,0.3);
}

.icons button{
    background: none;
    border: none;
    padding: 8px 16px;
    border-radius: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    color: #fff;
}

.icons button:hover{
    color: white;
}
.icons{
    display: flex;
    gap: 5px;
}

.show {
    display: block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 5px;
    right: 0;
    background-color: #fff;
    min-width: 100px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    box-shadow: 2px 5px 5px rgba(0,0,0,0.3);
    text-align: center;
}
  
/* Links inside the dropdown */
.dropdown-content a {
    color: rgb(154, 86, 154);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
/* Change color of dropdown links on hover */
 .dropdown-content a:hover {
    text-decoration: underline rgb(204, 165, 199);
}


  /* //////////////////////////navbar///////////////// */





/* //////////////////home///////// */

.home{
    height: 100vh;
    background-color: rgb(0, 0, 0);
    padding: 10px;
}

span{
    border-radius: 16px;
}

.grid{
    height: 400px;
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;

    padding: 10px;
}

h1{
    color: white;
}

p{
    font-size: 16px;
    color: #423f3f;
}

.text-wrapper{
    text-align: center;
}

.text-wrapper h1{
    font-size: 40px;
}

.text-wrapper p{
    font-size: 20px;
    color: rgb(147, 147, 147);
}

#changing-text {
    font-size: 60px;
    color: orangered;
    font-weight: bold;
}

button{
    border: none;
    margin-top: 30px;
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.3s;
    background-color: white;
    padding: 10px 16px;
}

button:hover{
    transform: translateY(3px);
}

button a{
    text-decoration: none;
    color: black;
}

.imgdis{
    position: relative;
    border-radius: 20px;
    padding: 10px;
    height: 400px;
}

.imgdis img{
   max-height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
/* ////////////////////home//////////////// */






/* /////////////////////collection/////////// */

.collections{
    height: 100vh;
    background-color: orangered;
    padding: 10px;
}




/* ////////////////////////collection///////////// */

/* ///////////////////////////shop/////////////// */
/* /////////////////search//////////// */

.searchcont{
    margin-left: 40%;
    padding-top: 90px;
}

.input {
    background-color: transparent;
    border: none;
    margin: 10px 50px;
    outline: none;
    color: black;
    width: 100%;
    transition: width .4s;
    transition-delay: .4s;
}

.search-bar-container {
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    width: 200px;
    height: 30px;
    border-radius: 50px;
    box-shadow: 2px 5px 5px rgba(0,0,0,0.3);
    margin-right: 50px;
    text-align: center;
    transition: 1.5s;
}

.fas {
    width: 20px;
    cursor: pointer;
    color: black;
    left: 20px;
}

.active.search-bar-container {
    width: 50px;
}

.active .input {
    width: 0;
}
/* //////////////search////////// */
.shop{
    height: 100vh;
    background-color: rgb(0, 0, 0);
}


/* ///////////////////////////shop/////////////// */